{% if app.user == null %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
                    <h3 align="center" class="pag-header">Você precisa estar logado para ver
                        a listinha de Todo's</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="/login" class="btn btn-primary">Login</a>
                <br>
            </div>
        </div>
    </div>
{% endif %}